@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

p{
    margin: 0;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0e0e10;
}

/*menu*/
.navbar{
    background-color: #18181b;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: whitesmoke;
}

.nav-item{
    text-align: center;
    font-weight: 300;
}

.nav-item-hover:hover{
    background-color: #9462e0;
    border-radius: 12px;
    
}

/*itens*/
.badge-grupo{
    background-color: #a970ff;
    color: white;
}

.linha{
    max-width: 50px;
    margin: 0px;
    margin-bottom: 1em;
    border: solid 3px;
    border-color: #a970ff;
    background-color: #a970ff;
    border-radius: 15px;
}

.linha-dois{
    max-width: 50px;
    margin: 0px;
    margin-bottom: 1em;
    border: solid 3px;
    border-color: #9462e0;
    background-color: #9462e0;
    border-radius: 15px;
    
}

.area-descricao{
    background-color: #18181b;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 25px;
}

.title-descricao{
    color: white;
    font-weight: 700;
}

.text-descricao{
    color: white;
    font-weight: 300;
    text-align: justify;
}

.navbar-brand{
    color: white;
    font-weight: 700;
}
.navbar-brand:hover{
    color: whitesmoke;
}

footer{
    background-color: #a970ff;
    width: 100%;
    height: auto;
    margin-top: 2em;
}

.item-footer{
    padding: 25px;
    color: #f5f5f5;
}

.text-footer{
    font-weight: 300;
    color: #f5f5f5;
    font-size: small;
    text-align: justify;
}

/*home*/
.title-moovi{
    color: white;
    font-weight: 700;
}

.welcome-user{
    color: whitesmoke;
    text-transform: capitalize;
}

.title-filme-home{
    font-weight: 600;
    color: white;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    
    
    
}

.flex-item{
    margin: 10px;
    flex: 1 1 200px;
    justify-content: left;
}

.title-video{
    color: white;
    font-weight: 600;
}

/*capas*/
.capas{
    max-width: 100%;
    width: 100%;
    height: 290px;
    object-fit: contain;

}

/*zoom*/
.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*zoom recentes*/
.zoom-recentes {
	overflow: hidden;
}

.zoom-recentes img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    opacity: 0.7;
}

.zoom-recentes:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.);
    opacity: 1.0;
}

/*flex video*/
.flexbox-video{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.flex-video{
    display: flex;
    justify-content: center;
    background-color: #a970ff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-bottom: 10px;
    width: 100%;
    height: 500px;
    
}

/*iframe*/
iframe{
    width: 100%;
    height: auto;
    margin: 0;
}

/*index*/
.div-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width:600px;
    height:480px;
    margin:auto;
    
}

.index-item{
    display: block;
    
    
}


.title-index{
    color: aliceblue;
    font-weight: 700;
    font-size: 3cm;
    margin: 0;
    max-width: 100%;
}

.subtitle-index{
    color: #a970ff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
}

.btn-entrar{
    background-color: #a970ff;
    border-radius: 12px;
    max-width: 100%;
    width: 100%;
}



/*suporte*/
.tilte-aba{
    color: white;
}

.text-aba{
    color: whitesmoke;
    font-weight: 300;
}

.back-text{
    background-color: #18181b;
    padding: 25px;
    border-radius: 12px;
    width: auto;
}

/*login*/
.btn-login{
    background-color: #a970ff;
    color: aliceblue;
}

label{
    color: aliceblue;
}

.flexbox-login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    
}

.login-item{
    display: block;
    background-color: #18181b;
    padding: 25px;
    border-radius: 12px;
    max-width: 100%;
    
    
}

.title-login{
    text-align: center;
    font-weight: 700;
    color: aliceblue;
}

.link-senha{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: aliceblue;
}

/*inputs*/


/*admin*/
.admin-item{
    background-color: #18181b;
    border-radius: 12px;
    padding: 25px;
    border-bottom: 10px solid #a970ff;
}

.btn-cadastrar{
    margin-top: 25px;
    border-radius: 12px;
    background-color: #a970ff;
    color: white;
    font-weight: 300;
    
}

.btn-cadastrar:hover{
    background-color: #9462e0;
    color: antiquewhite;
}

.btn-limpar{
    margin-top: 25px;
    border-radius: 12px;
    background-color: #f8f8f8;
    color: black;
    font-weight: 300;
}

.btn-limpar:hover{
    background-color: #f5f5f5;
}

.link-voltar{
    color: white;
}
.link-voltar:hover{
    color: #a970ff;
}

/*paginação*/
.page-item .page-link{
    background-color: #a970ff;
    border: none;
    color: #f5f5f5;
}

.circle{
    background-color: #a970ff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    
    
}

.page{
    color: #f5f5f5;
}
.page:hover{
    color: #f8f8f8;
}

/*perfil*/
.user_moovi{
    text-transform: capitalize;
    color: #f5f5f5;
    
}

.mr-3{
    border-radius: 50%;
}

.media{
    background-color: #18181b;
    padding: 25px;
    border-radius: 12px;
}

.atividade{
    width: 0.5rem;
    height: 0.5rem;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
}

.btn-perfil{
    background-color: #a970ff;
    color: #f5f5f5;
    font-weight: 300;
    border-radius: 12px;
    margin-right: 10px;
}
.btn-perfil:hover{
    background-color: #9462e0;
    color: antiquewhite;
}

/*guia*/
.guia_img{
    display: flex;
}

.img_guia{
    width: 20%;
    margin-top: 25px;
    margin-right: 10px;
}
